.result {
	width: 400px;
	height: 50px;
	border-radius: 10px;
	position: fixed;
	background-color: #969696b3;
	bottom: 10px;
	right: 10px;
	padding: 10px;
	color: white;
}

.cross {
	background-color: #b6b6b6b3;
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 20px;
    padding: 8px;
    line-height: 10px;
    width: 14px;
    height: 10px;
    border-radius: 20px;
}

.hidden_text {
	position: 'absolute';
    top: -1000;
    left: -1000;
}
